<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
           </style>
</head>
<body>
    <div class="login-container">
		
        <h2 th:text="${pageName}"></h2>
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button class="btn btn-primary" id="login-button"  onclick="login()">Login</button>
    </div>

    <script>
       

       
        
       function login() {
          
            
            var username = document.getElementById("username");          
            var password = document.getElementById("password");   
           
           
           alert(username);
           
            var data = {
                username: username,                
                password: password              
                             
            };
            
            

            $.ajax({
                type: "POST",
                url: "/myLogin",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(response) {
                    //console.log(response);
                    alert(response);
                    window.location.href="/signUp";
                    // Process the response from the server
                }
            });
        }

       
       
           </script>
</body>
</html>